{% extends 'base.html.twig' %}
{% block title %} 2 factor authentication {% endblock %}

{% block body %}
    {% if app.session and app.session.get('_security.last_error') %}
        <div class="alert alert-danger">
            {{ app.session.get('_security.last_error').messageKey}}
        </div>
    {% endif %}

    <form method="post" action="{{ path('2fa_login_check') }}">
         <label for="auth_code">Please enter the code:</label>
        <input type="text" id="auth_code" name="_auth_code" autofocus />
        <button type="submit">Confirm</button>
    </form>
{% endblock %}
