###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/.jwt
###< symfony/framework-bundle ###

###> compose ###
/compose.override.yaml
###< compose ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

/public/uploads
/config/jwt/*.pem
/.idea

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

