<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Authentication{% endblock %}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
</body>
</html>
